# {{ ansible_managed }}

[Unit]
Description=Prometheus eBPF Exporter
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/ebpf_exporter \
    --web.listen-address={{ ebpf_exporter_web_listen_address }} \
    --config.file={{ ebpf_exporter_config_dir }}/config.yaml

SyslogIdentifier=ebpf_exporter
Restart=always

[Install]
WantedBy=multi-user.target
